<li class="nav-item nav__menu--mega dropdown no-arrow">
  <a
    class="nav-link dropdown-toggle waves-effect waves-dark"
    href="#"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="fas fa-chevron-circle-down"></i>
    <span id="home-text">Menu</span>
  </a>
</li>

<div class="dropdown-menu nav__menu--submenu">
  <div class="mega-dropdown-menu row">
    <ul class="menu-content">
      <li class="menu-item">
        <ul class="menu-inner">
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/BookPublications">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Book Publication</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/industryconnectdatabase">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Industry Connect
                Database</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/AICAattended">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Industry Connect
                Activity Attended</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/awardsnss&ncc">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/Mous">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>MoUs</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/SlowLearnerInitiative">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Slow Learner
                Initiative</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/ClubActivities">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Student Club
                Activities</span
              >
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-item">
        <ul class="menu-inner">
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/MoocCourse">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>MOOC</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/TechTalk">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Tech Talk
                Database</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/PhdDetails">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Phd Details
                Attended</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/IdeaRepository">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Idea Repository</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/Consultancy">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Consultancy</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/Patent">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Patent</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/SponsoredResearchProjects">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Sponsored Research
                Projects</span
              >
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-item">
        <ul class="menu-inner">
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/IqacData">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>IQAC Data</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/EEAndC">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>EE And C
                Database</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/ProfessionalBodies">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Professional Bodies
                Attended</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/EntrepreneurshipDetails">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Entrepreneurship
                Details</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/FacultyServedAs">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Faculty Served
                as</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/VVIP">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>VVIP / VIP Guests at
                CMRIT</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/FossCell">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>FOSS Cell</span
              >
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-item">
        <ul class="menu-inner">
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/VisitorsDatabase">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Visitors Database
                (Academic / Professional Trainers)</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/EventsAttended">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Events Attended
                Database</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/JournalPaperPublication">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Journal & Conference
                Publications Attended</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/Awards">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Awards and
                Achievements in Events</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/Results">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Faculty Results</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/WellBeingClub">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Well Being Club</span
              >
            </a>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a class="menu-link" href="/faculty/StudentFacultyExchangeProgram">
              <span class="menu-text"
                ><i class="fas fa-circle menu-bullet"></i>Student Faculty
                Exchange Program</span
              >
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
